.mainContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
}
.headerContainer {
  width: 100vw;
}
.productContainer {

  margin-left: 96px;
  margin-top: 200px;
}
.footerContainer {
  display: flex;
  height: 750px;
  background-size: cover;
}